{{- /* Waline Comments Integration */ -}}
{{- if site.Params.waline.enable -}}
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
<div id="waline"></div>
<script type="module">
  import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

  init({
    el: '#waline',
    serverURL: '{{ site.Params.waline.serverURL }}',
    lang: 'zh-CN',
    placeholder: '{{ site.Params.waline.placeholder | default "欢迎评论" }}',
    requiredMeta: {{ site.Params.waline.requiredMeta | default (slice "nick") }},
    login: '{{ site.Params.waline.login | default "enable" }}',
    wordLimit: {{ site.Params.waline.wordLimit | default 0 }},
    pageSize: {{ site.Params.waline.pageSize | default 10 }},
    upload: {{ site.Params.waline.upload | default true }},
    emoji: {{ site.Params.waline.emoji | default true }},
  });
</script>
{{- end }}
